In [6]:
library(tidyverse)

# Coding Part

## Read Data and make it tidy

In [79]:
#From github Read
#ds <- read.csv("https://raw.githubusercontent.com/ZackYe42/STAT344-GroupProject/main/cities_air_quality_water_pollution.18-10-2021.csv",header = T)

#From Local
ds <- read.csv("cities_air_quality_water_pollution.csv",header = T,sep = ",")

#There is a space befor each string data, we want remove that
ds <- ds %>%
  mutate_at(vars(City, Region, Country), trimws)

#Some Region is NA, we want use city name to replace that
ds <- ds %>%
  mutate(Region = ifelse(Region == "", City, Region))

In [80]:
head(ds,3)

  City             Region               Country                  AirQuality
1 New York City    New York             United States of America 46.81604
2 Washington, D.C. District of Columbia United States of America 66.12903
3 San Francisco    California           United States of America 60.51402
  WaterPollution
1 49.50495
2 49.10714
3 43.00000

## Preselect Data

In this project, we will only use data from China

In [83]:
#filter People's Republic of China's data
ds1 <- ds %>% 
     filter(Country == "People\'s Republic of China")
head(ds1)
nrow(ds1)

  City     Region   Country                    AirQuality WaterPollution
1 Beijing  Beijing  People's Republic of China 21.366279  70.78313
2 Hangzhou Zhejiang People's Republic of China 25.694444  62.93103
3 Xi'an    Shaanxi  People's Republic of China  5.952381  72.05882
4 Lhasa    Tibet    People's Republic of China 12.500000  50.00000
5 Shanghai Shanghai People's Republic of China 25.000000  67.58475
6 Shenyang Liaoning People's Republic of China  6.250000  76.56250

[1] 238

# SRS Method